{% layout none %}
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->  
<head itemscope itemtype="http://schema.org/WebSite">
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
<meta name="google-site-verification" content="zUfiaZ0m4G_s4yyerq8UlvFkbfbtqDpVqTiYX7upayI" />
<title itemprop='name'>
  {{ page_title }}
</title>
<meta name="description" content="{{ page_description | escape }}" />
<link rel="icon" type="image/png" href="{{ 'favicon.png' | asset_url }}">
<meta name="theme-color" content="#ffffff">
<link rel="canonical" href="{{ canonical_url }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />  

</head>
<body>
{{ shop.permanent_domain | md5 }}
  

</body>
</html>    